extends ../layout

mixin orderEntry(order)
  a(href="/a/order/#{order.id}")
    .row
      .col-lg-4
        .btn.btn-block= order.id

      .col-lg-4
        if order.bid
          .btn.btn-small.btn-success.btn-block= order.bid
        else
          .btn.btn-small.btn-danger.btn-block= order.ask

      .col-lg-4
        .btn.btn-block= order.value
          span {{ currency }}


block content

  h2 Orders
  hr

  - each order in orders
    .row
      .col-lg-4
        +orderEntry(order)